<div class="home-box">
    <div class="home-my-notes">
        <h2>Minhas Notas</h2>
        <ng-container *ngFor="let note of noteList">
            <div class="home-my-notes-card" (click)="selectUpdateNote(note)">
                <h3>{{ note.title }}</h3>
                <p>{{ note.describe }}</p>
            </div>
        </ng-container>
        <h3 *ngIf="!noteList.length">Você não possui nenhuma nota salva.</h3>
    </div>

    <form class="home-edit-my-notes" [formGroup]="formNote" (ngSubmit)="createOrEditNote()">
        <div class="home-edit-my-notes-inputs-box">
            <input required type="text" formControlName="title">
            <h2>Titulo</h2>
        </div>
        <div class="home-edit-my-notes-inputs-box describe">
            <input required type="text" formControlName="describe">
            <h2>Descrição</h2>
        </div>
        <div class="home-edit-my-notes-inputs-box content teste" >
            <textarea type="text" formControlName="content"></textarea>
        </div>
        <div class="home-edit-my-notes-inputs-box buttons">
            <button>Salvar Nota</button>
        </div>
    </form>
</div>