.home-box {
    width: 100%;
    display: flex;
    gap: 20px;
}

.home-my-notes {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;
    width: 35%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    border-radius: 10px;
    box-shadow:  0 4px 16px rgb(0 0 0 / 8%);
}

.home-my-notes::-webkit-scrollbar {
    width: 10px;
}

.home-my-notes::-webkit-scrollbar-thumb {
    background-color: var(--background-micro-card-color);
    height: 20px;
    border-radius: 20px;
}

.home-my-notes h2 {
    color: var(--text-strong-color);
}

.home-my-notes h3 {
    color: var(--text-secundary-color);
}

.home-edit-my-notes {
    width: 65%;
    min-height: 80vh;
    box-shadow:  0 4px 16px rgb(0 0 0 / 8%);
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.home-edit-my-notes input {
    height: 40px;
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--background-micro-card-color);
    outline: none;
    color: var(--text-strong-color);
    font-size: 18px;
}

.home-my-notes-card {
    width: 100%;
    height: 100px;
    background-color: var(--background-card-color);
    border-radius: 20px;
    padding: 15px 0 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.home-my-notes-card h3{
    color: var(--text-strong-color);
}

.home-my-notes-card p{
    color: var(--text-primary-color);
    max-width: 33ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.home-edit-my-notes-inputs-box {
    display: flex;
    padding-bottom: 30px;
}

.home-edit-my-notes-inputs-box h2 {
    color: var(--text-primary-color);
    position: absolute;
    font-size: 26px;
    transition: .3s;
}

.home-edit-my-notes-inputs-box input:valid:not(:focus) + h2 {
    margin-top: -22px;
    margin-left: -2px;
    font-size: 16px;
    transition: .3s;
}

.home-edit-my-notes-inputs-box input:focus + h2 {
    margin-top: -22px;
    margin-left: -2px;
    font-size: 16px;
    transition: .3s;
}

.describe input:focus + h2 {
    font-size: 12px;
}

.describe input:valid:not(:focus) + h2 {
    font-size: 12px;
}

.describe input {
    height: 30px;
}

.describe h2 {
    color: var(--text-secundary-color);
    font-size: 18px;
}

.content {
    border: 3px solid var(--background-card-color);
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px;
}

textarea {
    width: 100%;
    outline: none;
    color: var(--text-primary-color);
    font-size: 18px;
    border: none;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0 0 0;
}

.buttons button {
    width: 130px;
    height: 30px;
    background-color: var(--background-card-color);
    border: none;
    border-radius: 10px;
    color: var(--text-strong-color);
    transition: .3s;
}

.buttons button:hover {
    background-color: var(--background-micro-card-color);
    cursor: pointer;
    transition: .3s;
}