.ui-view {
    width: 100vw;
    height: 100vh;
}

.ui-view-container {
    width: 80%;
    max-height: 90%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

app-header {
    max-height: 10%;
}

.mat-drawer-backdrop {
    transition: .8s;
}

